html {
	min-height: 100%;
	height:100%;
}
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	height:100%;
}

#Container{
	width:100%;
	height:100%;
	margin:0;
}
#HeadLog{
	height:7%;
	width:100%;
	margin:0;
}
#Content{
	height:85%;
	margin-top:0;
}
#GraphCont{
	height:100%;
	width:74%;
	margin:0;
	float:left;
}
#RightCont{
	height:100%;
	width:25%;
	margin:0;
	float:left;
}
#ProCont{
	height:40%;
	width:100%;
	margin:0;
}
#Commands{
	height:59%;
	width:100%;
	margin:0;
}
#Footer{
	height:3%;
	margin-top:0;
}

.node circle{
  cursor: move;
  fill: #ccc;
  stroke: #000;
}

.node.fixed circle{
  fill: #f00;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

.line{
	stroke: #aaa; 
}

svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}
